doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title

    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

  body
    main(role="main" class="container")
      h1#pageTitle.mt-4 Welcome to Card - The Note Taking App
      form(action="/", method="post")
        .form-group
          label(for="title") Title
          input.form-control(type="text" name="title")
        .form-group
          label(for="content") Content
          textarea.form-control(rows="3" name="content")
        .form-group
          button(type="submit").btn.btn-success.mr-2 Add Note
          button#clear-btn(type="button").btn.btn-default Clear
    script(src="/cardo.js")

    
