doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title

    link(rel="stylesheet"
      href="https://bootswatch.com/4/darkly/bootstrap.min.css")

  body
    main(role="main" class="container")
      h1#pageTitle.mt-4 Welcome to MyNotes - The Note Taking App
      form#add-note-form(action="/", method="post")
        .form-group
          label(for="title") Title
          input.form-control#title(type="text" name="title" v-model="title")
        .form-group
          label(for="content") Content
          textarea.form-control#content(rows="3" name="content" v-model="content")
        .form-group
          label(for="author") Author
          input.form-control#author(type="text" name="author" v-model="author")
        .form-group
          button(type="button" v-on:click="addNote").btn.btn-success.mr-2 Add Note
          button#clear-btn(type="button" v-on:click="clear").btn.btn-default Clear

      section
        table#vue-table.table.table-hover.mt-5
          tr
            th ID
            th Title
            th Content
            th Author
            th Option
          tr(v-for="note in notes")
            td {{ note.id }}
            td {{ note.title }}
            td {{ note.content }}  
            td {{ note.author }}
            td
              .btn-group
                button.btn.btn-success(type="button") Edit
                button.btn.btn-danger(type="button" v-on:click="deleteNote(note)") Delete

    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="/vue.js")
    //- script(src="/cardo.js")
